/* ---------------------
Generic var
---------------------- */

$default-images-directory: './images/';

/* ---------------------
Color Schemes
---------------------- */
$color-grey: #8e8e8e;
$color-white: #ffffff;
$color-font-dark: #1d1c22;
$color-dark: #000000;
$color-dark-grey: #646262;
$color-grey-text: #b4b4b4;


/* ---------------------
Typography
---------------------- */
$font-primary: 'Montserrat', sans-serif;
